@font-face {
    font-family: "GillSans";
    src: url("GillSans.ttc");
}

body {
    background-color: #ededed;
    font-family: "Gill sans", "GillSans", sans-serif;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

button{
    background-color: white;
    border: 0;
    border-bottom: 3px solid #484848;
    padding: 12px 17px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #484848;
}

img{
    max-width: 100%;
}

#milieu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    border-right: 5px dashed #484848;
    pointer-events: none;
    z-index: 8;
}
#bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(img/bg.png);
    background-size: cover;
    pointer-events: none;
    z-index: 99;
}



header,footer{
    position: relative;
    text-align: center;
    z-index: 9;
}
header{
    padding: 25vh 20px;
    background-color: #ededed;
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(237,237,237,1) 89%, rgba(237,237,237,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(237,237,237,1) 89%,rgba(237,237,237,0) 100%);
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(237,237,237,1) 89%,rgba(237,237,237,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ededed',GradientType=0 );
}
header h1{
    margin-bottom: 25vh;
    background-color: #ededed;
}
@keyframes animBtn {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1)}
}
header button{
    font-size: 16px;
    animation-name: animBtn;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
footer button{
    border: 3px solid #484848;
}
footer button:hover{
    border: 3px solid white;
}

footer{
    padding: 10vh 20px;
    background-color: #484848;
    color: white;
}


section {
    min-height: 90vh;
}
section>div{
    display: inline-block;
    width: calc(49% - 20vw);
    padding: 0 10vw;
    vertical-align: top;
}

.grosChiffre{
    margin: 0;
    font-size: 6vw;
    font-weight: bold;
}

.intro, h3{
    font-size: 1.5em;
}


.source{
    color: #bcbcbc;
}

.visuel{
    margin-top: 50px;
}

blockquote{
    border-left: 2px solid #484848;
    margin: 0;
    padding-left: 10px;
    margin-top: 50px;
    font-style: italic;
    font-size: 1.5em;
    color: #484848;

}
blockquote:after{
    content: attr(cite);
    display: block;
    margin-top: 10px;
    font-style: normal;
    color: black;
}

.gif{
    position: relative;
    text-align: center;
    padding: 25vh 50px;
    margin-bottom: 10vh;
    background: -moz-linear-gradient(top,  rgba(237,237,237,0) 0%, rgba(237,237,237,0.05) 1%, rgba(237,237,237,1) 20%, rgba(237,237,237,1) 80%, rgba(237,237,237,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.05) 1%,rgba(237,237,237,1) 20%,rgba(237,237,237,1) 80%,rgba(237,237,237,0) 100%);
    background: linear-gradient(to bottom,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.05) 1%,rgba(237,237,237,1) 20%,rgba(237,237,237,1) 80%,rgba(237,237,237,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ededed', endColorstr='#00ededed',GradientType=0 );
    z-index: 9;
}
.gif>img{
    border-radius: 30px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 50px -25px rgba(0,0,0,1);
    box-shadow: 0 10px 50px -25px rgba(0,0,0,1);
}
.gif>span{
    position: absolute;
    top: calc(50% - 23px);
    right: 0;
    left: 0;
}

.twitter-tweet{
    margin-top: 50px!important;
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 15px;
}
.twitter-tweet a{
    color: #1DA1F2;
}

#modalPartage{
    display: none;
    position: fixed;
    top: 50px;
    left: 25vw;
    right: 25vw;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    z-index: 99;
}
#modalPartageFermer{
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 20px;
    border-top-right-radius: 20px;
    background: none;
}
#modalPartageFermer:hover{
    background-color: white;
}
#modalPartageFermer>img{
    height: 15px;
}
#modalPartage>h3{
    margin: -20px;
    margin-bottom: 20px;
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #484848;
    color: white;
}
#modalPartageTexte{
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: left;
}
#modalPartage>a{
    display: inline-block;
    width: calc(50% - 33px);
    padding: 10px;
    border: 4px solid white;
    text-align: center;
    font-size: 1.2em;
}
#modalPartageTwitter{
    margin-right: 5px;
    border-color: #1DA1F2!important;
}
#modalPartageFacebook{
    border-color: #3b5998!important;
}
#modalPartage>a:hover{
    text-decoration: none;
    cursor: pointer;
}
#modalPartageTwitter:hover{
    background-color: #1DA1F2!important;
}
#modalPartageFacebook:hover{
    background-color: #3b5998!important;
}
#wrapper{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 98;
}
